name: Deploy to Databricks

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Install Databricks CLI
        run: |
          pip install databricks-cli
          
      - name: Configure Databricks CLI
        run: |
          echo "DATABRICKS_HOST=${{ secrets.DATABRICKS_HOST }}" >> $GITHUB_ENV
          echo "DATABRICKS_TOKEN=${{ secrets.DATABRICKS_TOKEN }}" >> $GITHUB_ENV

      - name: Deploy Bronze Notebooks
        run: databricks workspace import_dir bronze /Shared/finance_fraud_project/bronze --overwrite

      - name: Deploy Silver Notebooks
        run: databricks workspace import_dir silver /Shared/finance_fraud_project/silver --overwrite

      - name: Deploy Gold Notebooks
        run: databricks workspace import_dir gold /Shared/finance_fraud_project/gold --overwrite
