name: Deploy to Databricks

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Install Databricks CLI
        run: |
          pip install databricks-cli
          
      - name: Configure Databricks CLI
        run: |
          mkdir -p ~/.databricks
          echo "[DEFAULT]" > ~/.databricks/config
          echo "host = ${{ secrets.DATABRICKS_HOST }}" >> ~/.databricks/config
          echo "token = ${{ secrets.DATABRICKS_TOKEN }}" >> ~/.databricks/config

      - name: Deploy Bronze Notebooks
        run: databricks workspace import_dir bronze /Shared/finance_fraud_project/bronze -o

      - name: Deploy Silver Notebooks
        run: databricks workspace import_dir silver /Shared/finance_fraud_project/silver -o

      - name: Deploy Gold Notebooks
        run: databricks workspace import_dir gold /Shared/finance_fraud_project/gold -o
